@import 'nativescript-theme-core/theme-core-scss/variables';
@import 'nativescript-theme-core/theme-core-scss/themes/core/variables_light';
@import 'nativescript-theme-core/theme-core-scss/index';

// Place any CSS rules you want to apply on both iOS and Android here.

// This doesn’t work
Label {
  font-size: 200;
}

// This doesn’t work either
$btn-color: red;
$btn-color-inverse: orange;
